<ion-header>
  <ion-toolbar>
    <ion-title>
      Sensors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sensors</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item >
      <ion-label>In Use</ion-label>
      <ion-checkbox slot="end" checked = {{data.touch}} ></ion-checkbox>
   </ion-item>
   
   <ion-item>
     <ion-label>Front Distance</ion-label>
     {{data.usrf}} ft
     <ion-checkbox slot="end" checked = {{data.frontWarn}} ></ion-checkbox>
   </ion-item>
   
   <ion-item>
     <ion-label>Left Distance</ion-label>
     {{data.usrl}} ft
     <ion-checkbox slot="end" checked = {{data.leftWarn}} ></ion-checkbox>
   </ion-item>
   <ion-item>
     <ion-label>Right Distance</ion-label>
     {{data.usrr}} ft
    <ion-checkbox slot="end" checked = {{data.rightWarn}} ></ion-checkbox>
   </ion-item>
   <ion-item>
    <ion-label>Distance Above Ground</ion-label>
    {{data.ir}} ft
   <ion-checkbox slot="end" checked = {{data.irWarn}} ></ion-checkbox>
  </ion-item>
   
   <ion-item>
     <ion-label>Buzzer</ion-label>
     {{data.buzzText}}
     <ion-checkbox slot="end" checked = {{data.buzzer}} ></ion-checkbox>
   </ion-item>
   <ion-item>
    <ion-label>Heart Beat</ion-label>
    {{data.heart}} bpm
  </ion-item>
  </ion-list>

 

  <app-explore-container name="Sensor page"></app-explore-container>
</ion-content>
